@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800&display=swap');

@import "mixins";

@import "header";

@import "main";

@import "products";

@import "contact";

@import "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: inherit;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}
body{
    background-color: #151719;
}